$primary : #ff4d30;

//Font Color
.th-primary{
  color: $primary;
}

.th-white{
  color: #fff;
}

//Background Color
.th-bg-primary{
  background-color: $primary;
}

.th-bg-black{
  background-color: #000 !important;
}

.th-bg-grey{
  background-color: #f8f8f8;
}

.th-bg-white{
  background-color: #fff;
}

//button

.th-btn-primary{
  padding: 15px 20px;
  background-color: $primary;
  border: 0px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

.app-button{
  padding: 15px 30px;
  background-color: $primary;
  border: 0px;
  color: white;
}

//general css

a{
  text-decoration: none;
  color: black;
}

a:hover{  
  color: $primary;
}

.pointer{
  cursor: pointer;
}

.mobile-drawer{
  background: #fff;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.3s ease-out;
  height: 100vh;
  width: 100%;
  z-index: 2000;
  top: 0;
}

.open{
  transform: translateX(0%);
}

.close-btn{
  position: absolute;
  top: 15px;
  right: 25px;
}

//home

.home{
  padding-top: 100px !important;
}

@media screen and (min-width: 1000px) {
  .car-bg-image{
    position: absolute;
    right: 0;
    width: 800px;
  }
  .bg-image{
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 1000px) {
  .car-bg-image{
    display: none;
  }
  .bg-image{
    display: none;
  }
}

.booking-section{
  background-image: url('../img/booking-bg.png');
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
  margin-top: 200px;
}

.form-input{
  padding: 10px 20px;
  border: 0.5px solid lightgray;
  outline: none;
}

b{
  color: $primary;
}